
<form class="row g-3" (ngSubmit)="addsalle()" #form="ngForm">
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">Nom</label>
      <input type="text" class="form-control" id="validationDefault01" name="nom" [(ngModel)]="newsalle.nom" required>
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Nombre de place </label>
      <input type="text" class="form-control" id="validationDefault02" name="place" [(ngModel)]="newsalle.nombre_place" required>
    </div>
    <div>
        <button type="submit" class="btn btn-info">Ajouter</button>
    </div>
  </form>