<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CNSTN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="acceuil-component" class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
         
              <li><a class = "nav-link active "routerLink="addreservation"  >Reserver une salle</a></li>
              <li><a class = "nav-link active "routerLink="demandemat"  >Demande matériel</a></li>
            

          
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administration
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a routerLink="addcat" class="dropdown-item" >Ajouter une categorie</a></li>
              <li><a routerLink="listcat" class="dropdown-item" >liste des catécogries</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="addserv" class="dropdown-item"  >Ajouter Service</a></li>
              <li><a routerLink="listserv" class="dropdown-item" >liste Service</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="ajoutemployee" class="dropdown-item" >Ajouter Employee</a></li>
              <li><a routerLink="listempl" class="dropdown-item" >liste Employee</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="ajoutesalle" class="dropdown-item" >Ajouter salle</a></li>
              <li><a routerLink="listsalle" class="dropdown-item" >liste salle</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="listdem" class="dropdown-item" >liste demande</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>