.table {
    border-collapse: collapse;
    width: 120%;
    
  }
  
  tr:hover {background-color: rgb(221, 230, 230);}
  th {
    background-color:#233c52e5;
    color: white;
    
  }
  td {
    width: 35%;
    padding: 8px;
    border: 1px solid #ddd;
  }