.table {
    border-collapse: collapse;
    width: 120%;
    
  }
  
  tr:hover {background-color: rgb(80, 255, 255);}
  th {
    background-color: #8a0707c2;
    color: white;
    
  }
  td {
    width: 35%;
    padding: 8px;
    border: 1px solid #ddd;
  }