<div *ngIf="!condition">
  <table datatable class="table ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>delete</th>
        <th>update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let direction of directions">
        <td>{{ direction.id }}</td>
        <td>{{ direction.nom }}</td>
        <td>{{ direction.description }}</td>
        <td><button type="button" class="btn btn-outline-danger"
            (click)="deleteExpense(direction.id)">supprimer</button></td>
        <button type="submit" class="btn btn-warning" (click)="dirDetails(direction.id)">mise a ajour </button>
      </tr>
    </tbody>
  </table>

</div>



<div class="card border-dark mb-3"  style="max-width: 25rem; margin:auto; margin-top: 20px;" *ngIf="condition">
  <div class="card-header">Mise ajour</div>
  <div class="card-body" *ngIf="dirdetails">
    <h5 class="card-title">Mise a jour</h5>

    <form (ngSubmit)="Update()" #form="ngForm">
      <div>
        <label><b>Nom: </b></label>
        <input type="text" class="form-control" id="nom" placeholder="Enter description" name="nom"
          [(ngModel)]="dirdetails.nom">
      </div>
      <div>
        <label><b>Description: </b></label>
        <input type="text" class="form-control" id="description" placeholder="Enter description" name="Description"
          [(ngModel)]="dirdetails.description">
      </div>
      <div>
        <button type="submit"  class="btn btn-outline-warning">>Mettre a jour</button>
      </div>

    </form>

  </div>
</div>