<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/cnstn1.jpg" alt="Los Angeles" class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3>CNSTN</h3>
          <p>Centre National des Sciences et Technologies Nucléaires</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/cnstn5.jpg" alt="Chicago" class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3>Adresse </h3>
          <p>Pôle Technologique - 2020 Sidi Thabet BP 72, Sidi Thabet 2020</p>
        </div> 
      </div>
      <div class="carousel-item">
        <img src="assets/img/cnstn2.jpg" alt="New York" class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3>Téléphone </h3>
          <p>71 537 410</p>
        </div>  
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  
  <div class="container-fluid mt-3">
    <h3>Présentation</h3>
    <p>Conformément aux dispositions de la loi n° 93-115 du 22 novembre 1993 portant création du "Centre National des Sciences et Technologies Nucléaires", (CNSTN).
        Le Centre a pour mission de réaliser les études et recherches nucléaires à caractère pacifique dans les différents domaines,
         ainsi que la maîtrise des technologies nucléaires, leur développement et leur utilisation aux fins du développement économique et social", 
         et notamment dans les domaines de l'agriculture, de l'industrie, de l'énergie, de l'environnement et de la médecine, et d'une façon générale, 
         la réalisation de toutes les activités tendant à assurer le développement des sciences nucléaires,
          la promotion de ses différentes applications et la maîtrise des technologies nucléaires à des fins pacifiques.
        
        
  </div>