<div class="card border-primary mb-3" style="max-width: 25rem; margin: auto; margin-top: 20px;">
    <div class="text-bg-primary p-3">Reservation</div>
    <div class="card-body">
        <h5 class="card-title">Reservez votre salle</h5>
        <div>
            <form (ngSubmit)="addreservation()" #form="ngForm">
                <div class="mb-3 mt-3">
                    <label for="name">date de debut:</label>
                    <input type="date" class="form-control" id="name" placeholder="Entrer la date de debut" name="Name"
                        [(ngModel)]="newreserv.date_d">

                </div>
                <div class="mb-3">
                    <label for="description">date de fin:</label>
                    <input type="date" class="form-control" id="description" placeholder="Entrer la date fin"
                        name="Description" [(ngModel)]="newreserv.date_f">
                </div>
                <div class="mb-3">

                    <select class="form-select" [(ngModel)]="newreserv.salle" name="salle_id" required>
                        <option *ngFor="let Salle of salles" [ngValue]="Salle">
                            {{Salle.nom}}
                        </option>
                    </select>

                </div>
                <div class="mb-3">

                    <select class="form-select" [(ngModel)]="newreserv.employee" name="employee_id" required>
                        <option *ngFor="let employee of employees" [ngValue]="employee">
                            {{employee.nom}} {{employee.prenom}}
                        </option>
                    </select>

                </div>

                <button type="submit"  class="btn btn-primary">Reserver</button>
            </form>
        </div>


    </div>