<div  class="card border-primary mb-3" style="max-width: 25rem; margin: auto; margin-top: 20px;">
  <div class="text-bg-primary p-3">ajouter une catécogries</div>
  <form (ngSubmit)="addManagement()" #form="ngForm">
    <div class="mb-3 mt-3">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name"placeholder="Enter name" name="Name" [(ngModel)]="management.nom" >
      
    </div>
    <div class="mb-3">
      <label for="description">description</label>
      <input type="text" class="form-control" id="description" placeholder="Enter description"name="Description" [(ngModel)]="management.description" >
    </div>
  
    <button type="submit"  class="btn btn-primary">Ajouter</button>
   
  </form>
</div>
